---
title: "Home"
layout: page
bg: mint1   #defined in _config.yml, can use html color like '#010101'
color: black  #text color
style: center
---

<div id="{{ id }}" class="section {{ id }}">
  <div class="container {{ page.style }}">
    <div class="row">
      <img src="img/TAU.png" alt="Logo" class="u-max-full-width ctr" style="width: 200px; "/>
    </div>

    <div class="row" style="float:center; width=50%">
      <h1 class="title" id="mathematical-institute--tel-aviv-mint"><span>M</span>athematical <span>IN</span>stitute @ <span>T</span>el Aviv</h1>
    </div>
    <div class="row">
      <div class="twelve columns">
        <div class="four columns">
          <h2 id="Coordinators" class="left">Coordinators</h2>
          <ul>
            <li>Noga Alon</li>
            <li>Michael Krivelevich</li>
            <li>Leonid Polterovich</li>
          </ul>
        </div>
        <div class="four columns">
          <p id="about">
            The Institute supports a variety of research-related activities at the <a href="http://www.math.tau.ac.il">School of Mathematical Sciences</a> of <a href="http://www.tau.ac.il">TAU</a>, including distinguished lectures, visitors, organization of workshops and travel of research students.</p>
        </div>
        <div class="four columns">
          <h2 id="advisory-board" class="left">Advisory Board</h2>
          <ul>
            <li>Yakov Eliashberg (Stanford University)</li>
            <li>Peter Sarnak (Princeton University and IAS)</li>
            <li>Alain-Sol Sznitman (ETH, Zürich)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="upcoming" class="section upcoming bg-mint2">
  <div class="container {{page.style}}">
    <h2>Upcoming Events</h2>
    <div class="container {{page.style}}">
    <h3><a href="lectures">MINT Distinguished Lectures</a></h3>
    {% assign upcoming_fl = false %}
    {% assign upcoming_sl = false %}
    {% for post in site.posts reversed %}
    {% if post.date >= site.time %}
    {% if post.categories contains 'lectures' %}

    {% if upcoming_fl == true %}
    {% assign upcoming_sl = true %}
    {% else %}
    {% assign upcoming_fl = true %}
    {% endif %}

    {{ post.excerpt }}


    {% if upcoming_sl == true %}
    {% break %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% if upcoming_fl == false %}
    <h4>No upcoming lectures scheduled</h4>
    {% endif %}
    </div>

    <hr/>

    <div class="container {{page.style}}">
    <h3><a href="events">Events supported by MINT</a></h3>
    {% assign upcoming_fl = false %}
    {% assign upcoming_sl = false %}
    {% for post in site.posts reversed %}
    {% if post.date >= site.time %}
    {% if post.categories contains 'events' %}

    {% if upcoming_fl == true %}
    {% assign upcoming_sl = true %}
    {% else %}
    {% assign upcoming_fl = true %}
    {% endif %}

    {{ post.excerpt }}


    {% if upcoming_sl == true %}
    {% break %}
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% if upcoming_fl == false %}
    <h4>No upcoming events scheduled</h4>
    {% endif %}
    </div>

  </div>
</div>

<!-- Local Variables:  -->
<!-- mode: web -->
<!-- End: -->
